@model AssertManagementMVC.Models.Asset

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Asset</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AssetId" />
            <div class="form-group">
                <label asp-for="AssetNo" class="control-label"></label>
                <input asp-for="AssetNo" class="form-control" />
                <span asp-validation-for="AssetNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssetName" class="control-label"></label>
                <input asp-for="AssetName" class="form-control" />
                <span asp-validation-for="AssetName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssetModel" class="control-label"></label>
                <input asp-for="AssetModel" class="form-control" />
                <span asp-validation-for="AssetModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManufacturingDate" class="control-label"></label>
                <input asp-for="ManufacturingDate" class="form-control" />
                <span asp-validation-for="ManufacturingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpiryDate" class="control-label"></label>
                <input asp-for="ExpiryDate" class="form-control" />
                <span asp-validation-for="ExpiryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssetValue" class="control-label"></label>
                <input asp-for="AssetValue" class="form-control" />
                <span asp-validation-for="AssetValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
