@model BookStoreApp.Models.Book;
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="text-center">
    <h2>Detailed Info</h2>
    <p>The Book you inspecting was Identified as @Model.BookID and Named: @Model.BookName </p>
    <p>The Type of the Book is to be @Model.BookType</p>
</div>
